language: bash

dist: xenial

os: linux

sudo: required

before_install:
  - sudo apt-get update
env:
  - RELEASE=../releases/23.0.0.3
  - RELEASE=../releases/23.0.0.6
  - RELEASE=../releases/23.0.0.9
  - RELEASE=../releases/latest

script:
- uname -a
- cat /etc/issue
- pwd
- cd build
- ./buildAll.sh $RELEASE
