language: bash

dist: xenial

os: linux

sudo: required

before_install:
  - sudo apt-get update
env:
  - RELEASE=../releases/22.0.0.6
  - RELEASE=../releases/22.0.0.10
  - RELEASE=../releases/latest

script:
- uname -a
- cat /etc/issue
- pwd
- cd build
- ./buildAll.sh $RELEASE
